<!DOCTYPE html>
<html>
  <head>
          <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz App!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/node_modules/bulma-extensions/dist/css/bulma-extensions.min.css">
  </head>
   <body>
  <section class="section" id="app"> 
    <div class="container">
      <h1 class="title">
        Welcome to the Quiz App Show
      </h1>
      <p class="subtitle">
       Have fun creating Quiz app <strong>in JS</strong>!
      </p>
      <!-- Main container -->
<nav class="level">
    <div class="level-left"></div>
    <!-- Right side -->
    <div class="level-right has-text-centered">
        <div class="level-item">
            <div>
              <p class="heading">Hits</p>
              <p class="title">{{ hits }}/{{ questions.length }}</p>
            </div>
        </div>
    </div>
</nav>
<!-- /nav.level -->
<div class="steps" id="stepsDemo">
  <div class="step-item is-active is-success">
    <div class="step-marker">1</div>
    <div class="step-details">
      <p class="step-title">Account</p>
    </div>
  </div>
  <!-- /div.step-item -->
  <div class="step-item">
    <div class="step-marker">2</div>
    <div class="step-details">
      <p class="step-title">Profile</p>
    </div>
  </div>
  <!-- /div.step-item -->
  <div class="step-item">
    <div class="step-marker">3</div>
    <div class="step-details">
      <p class="step-title">Social</p>
    </div>
  </div>
  <!-- /div.step-item -->
  <div class="step-item">
    <div class="step-marker">4</div>
    <div class="step-details">
      <p class="step-title">Finish</p>
    </div>
  </div>
  <!-- /div.step-item -->
  
  <div class="steps-content column is-mobile">
    <!-- Your questions here -->
    <div v-for="(question, index) in questions" class="step-content column is-6 is-offset-3 is-active">
      <h2 class="title">{{question.question}}</h2>
      <div v-for="(value, key) in question.options" class="tile is-ancestor">
        <div class="tile is-12">
          <div class="tile box option-box answer" v-on:click.self="selectOption" :data-index="index" :data-key="key" :data-value="value"> 
            <p class="subtitle"> {{ key }})</p>
            <p>{{ value }}</p>
          </div>
        </div>
      </div>
  </div>
    
  </div>
  <!-- /div.step-content -->
  
  <div class="steps-actions">
    <div class="steps-action">
      <a href="#" data-nav="previous" class="button is-light">Previous</a>
    </div>
    <div class="steps-action">
      <a href="#" data-nav="next" class="button is-light">Next</a>
    </div>
  </div>
  <!-- /div.step-actions -->
</div>
  <!-- /div.steps -->

    </div>
  </section>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.min.js"></script>
  <!-- Development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/app.js"></script>
  </body>
</html>
